# SPDX-FileCopyrightText: 2023 Marlon W (Mawoka)
#
# SPDX-License-Identifier: MPL-2.0

#* {
:8080 {
	#	tls /home/mawoka/certs/cert.pem /home/mawoka/certs/key.pem
	handle /socket.io* {
		reverse_proxy localhost:8000
	}
	handle /api* {
		reverse_proxy localhost:8000
	}
	handle /rapidoc* {
		reverse_proxy localhost:8000
	}
	handle /openapi.json {
		reverse_proxy localhost:8000
	}
	handle {
		reverse_proxy localhost:3000
	}
}
